extends layout
block head
  title #{problemName} - Mao's Google Code Jam practice files
  -if (Object.keys(files).find(x => files[x].highlightRender))
    link(rel='stylesheet', href=hljsStyle)
block content
  a.toroot(href=rootDir) Return to problem list
  h1= problemName
  -if (replitUrl)
    div
      a(href=replitUrl) Run on repl.it
  mixin showFile(f)
    - f.displayed = true
    .filehead
      .fnamecontain
        a.fname(href=f.downloadUrl, target="_blank")= f.path
        | :
      a.download(href=f.downloadUrl, title="Download original", download=f.path.split('/').slice(-1)[0]) save
      | &nbsp;&nbsp;&nbsp;
      a.openongithub(href=f.githubUrl, target="_blank") open on GitHub
    -if (f.path.endsWith('.md') && f.highlightRender)
      div!= f.highlightRender
    -else
      pre
        -if (f.highlightRender)
          -if (f.path.endsWith('.diff'))
            code.hljs.diff!= f.highlightRender
          -else
            code.hljs!= f.highlightRender
        -else
          code.hljs= f.content
  -let correctSolutions = solutions.filter(x => x.correct === true)
  -if (correctSolutions.length > 0)
    -if (correctSolutions.length === 1)
      h2 Final solution
      +showFile(files[correctSolutions[0].cmd])
    -else
      h2 Final solutions
      -for (let sol of correctSolutions)
        h3 Solution #{sol.no}
        +showFile(files[sol.cmd])
  -let wrongSolutions = solutions.filter(x => x.correct === false)
  -if (wrongSolutions.length > 0)
    -if (wrongSolutions.length === 1)
      h2 Wrong solution
      +showFile(files[wrongSolutions[0].cmd])
    -else
      h2 Wrong solutions
      -for (let sol of wrongSolutions)
        h3= sol.no
        +showFile(files[sol.cmd])
        -if (files[`${sol.no}/problem.in`])
          +showFile(files[`${sol.no}/problem.in`])
          -if (files[`${sol.no}/problem.out`])
            h4 Expected output
            +showFile(files[`${sol.no}/problem.out`])
    -if (files['problem.in'] && !files['problem.in'].displayed)
      +showFile(files['problem.in'])
    -if (files['problem.out'] && !files['problem.in'].displayed)
      h3 Expected output
      +showFile(files['problem.out'])
  -let smallSolutions = solutions.filter(x => x.correct === 'small')
  -if (smallSolutions.length > 0)
    h2 Solution that only works for the small input
    -for (let sol of smallSolutions)
      +showFile(files[sol.cmd])
  -if (files['sample.in'])
    h2 Sample test cases given in question
    +showFile(files['sample.in'])
    -if (files['sample.out'])
      +showFile(files['sample.out'])
  -if (Object.keys(files).find(x => !files[x].displayed))
    h2 Other files
    -for (let fPath of Object.keys(files))
      -if (!files[fPath].displayed)
        +showFile(files[fPath])
